@using TeslaService.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>

    <p class="text-center">We have</p>
    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Register users: @Model.UserRegisterCount</th>
                <th>Register vehicle: @Model.VehicleRegisterCount</th>
                <th>Register parts: @Model.CountParts</th>
            </tr>
        </tbody>
    </table>
</div>
