@{
    this.ViewData["Title"] = "Privacy Policy";
}
<br />
<h1>@this.ViewData["Title"]</h1>

<br />
<p>Get to know our Privacy Notice and your choices about how information is used. This notice is designed to provide transparency into our privacy practices, in a format that is easy to read, understand and navigate. Reference each section to get an overview of how we collect, use, share, and safeguard your information, or click learn more to expand and view the full Customer Privacy Notice.(Copyed from official site)</p>
