@using TeslaService.Common
@using TeslaService.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<body class="vw-100 vh-100 overflow-auto" id="hero">
    <section id="" class="">
        <br />
        <div class="container d-flex flex-column align-items-center aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
            @if (this.User.Identity.IsAuthenticated)
            {
                <h1>My Service</h1>
            }
            else
            {
                <h1>Service</h1>
            }
            <h2 class="text-center">Here you can find stock parts, our battery and employees.</h2>

            <br />

            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="text-center">
                    <div class="">
                        <a asp-area="" asp-controller="Warehouse" asp-action="All" class="buttonCreate">Warehouse</a>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <div class="">
                        <a asp-area="" asp-controller="Employee" asp-action="All" class="buttonCreate">All Employees</a>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <div class="">
                        <a asp-area="" asp-controller="Battery" asp-action="All" class="buttonCreate">All Batteries</a>
                    </div>
                </div>
                <br />
                <div class="text-center">
                    <div class="">
                        <a asp-area="" asp-controller="Insurance" asp-action="All" class="buttonCreate">All Insurances</a>
                    </div>
                </div>

                @*<div class="nav-item">
                    <a class="nav-link btn-about" asp-area="" asp-controller="Employee" asp-action="All">All Employees</a>
                </div>*@
            }

            @if (!this.User.Identity.IsAuthenticated)
            {
                <form class="form-inline btn-about" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn">Login</button>
                </form>
            }
        </div>
    </section>
</body>

